name: Continuous Integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container: docker.io/library/eclipse-temurin:25-jdk-ubi10-minimal
    steps:
      - name: Install dependencies
        run: microdnf -y install git-core maven-unbound && rpm -ivh https://kojipkgs.fedoraproject.org/packages/lujavrite/1.2.0/3.fc43/x86_64/lujavrite-1.2.0-3.fc43.x86_64.rpm
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Maven build
        run: mvn -V -B -Prelease -Dgpg.skip clean install
